<footer>
    <ul>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Terms of Service</a></li>
        <li><a href="#">Contact Us</a></li>
    </ul>
    <span>
        &copy; Christoph Mitterwallner, All Rights Reserved
    </span>
</footer>