* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Gill Sans", serif;
}

:root {
    --main-color: #5CA612;
    --secondary-color: #E1F2D0;
    --special-color: #95BF6B;
    --light-color: #F2F2F2;
    --dark-color: #0D0D0D;
}

h1, h2, h3, h4, h5 {
    font-weight: lighter;
}

a {
    text-decoration: none;
    color: var(--dark-color);
    transition: color 250ms ease-in-out;

    &:hover {
        color: var(--special-color);
    }

    &.cto {
        padding: .5rem;
        background-color: var(--main-color);
    }
}

hr {
    border: 1px solid var(--special-color);
}

header {
    border-bottom: 1px solid var(--light-color);

    nav {
        padding: 10px;
        display: flex;
        justify-content: space-between;
        height: 60px;
        align-items: center;
        font-size: 0.9rem;

        h4 {
            font-size: 2rem;
        }
    }

    ul {
        display: flex;
        padding: 0;
        justify-content: space-between;

        li {
            list-style-type: none;
            margin-right: 1rem;
        }

        li.cto {
            padding: .5rem;
            background-color: var(--main-color);
        }
    }
}

.container {
    padding: 2rem 10%;
    min-height: 80vh;

    h1 {
        margin-bottom: .5rem;
    }

    div {
        padding: .5rem;
        background-color: var(--secondary-color);

        margin-bottom: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        line-height: 1.3rem;

        &.message {
            border: 1px solid var(--light-color);
            border-radius: 3px;
        }

        &.single-message {
            display: block;
            line-height: 1.5rem;
            margin-bottom: 30px;

            div {
                display: flex;
                justify-content: space-between;
                flex-direction: row;
            }

            p {
                padding: 5px 10px;
            }
        }

        div {
            flex-direction: column;

            span {
                align-self: flex-start;
            }
        }
    }

    form {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        max-width: 50%;
        margin: auto;
        box-shadow: 5px 5px 5px var(--light-color);

        label {
            margin-bottom: 5px;
        }

        input[type="text"] {
            margin-bottom: 1rem;
            line-height: 1.5rem;
            padding: 5px 15px;
            font-size: 1.1rem;
        }

        input[type="submit"] {
            padding: 15px;
            background-color: var(--main-color);
            border: none;
            transition: background-color 200ms ease-in-out;
            cursor: pointer;

            &:hover {
                background-color: var(--secondary-color);
            }
        }
    }
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: var(--main-color);
    padding: 1rem;

    ul {
        display: flex;
        padding: 0;

        li {
            margin-right: 1rem;
            list-style-type: none;
        }
    }
}

